body {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: #000000;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: #fff;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.942),
      rgba(0, 0, 0, 0.8)
    ),
    url(https://images.unsplash.com/photo-1546422904-90eab23c3d7e?q=80&w=2672&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
